

.div-1 {
	margin-top: 5rem;
}

.img1 {
	width: 100%;
}

.home-header {
	margin-top: 8rem;
	border-bottom: 1px solid black;
	text-align: center;
}

.home-h1 {
	font-family: 'Inter', sans-serif;
	font-size: 80px;
}

.home-span {
	font-style: italic;
	font-family: 'IM Fell Double Pica', serif;
	font-size: 90px;
}

.home-span2 {
	font-family: 'Playfair Display', serif;
}

.home-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	border-right: 1px solid black;
}

.home-text {
	padding: 2rem;
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	color: #333;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.home-marq {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1rem;
}

.home-section2 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.home-text2 {
	padding: 2rem;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	color: #333;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


.img3-home {
	width: 80%;

}

.img8-home {
 width: 100%;
 object-fit: contain;
 border-radius: 1rem;
}



.img-container {
display: flex;
position: sticky;
width: 90%;

}

.scroll-container {
	margin: 0 auto;
	width: calc(180px + 5rem);
	overflow-y: auto;
	/* overscroll-behavior-y: contain;
	scroll-snap-type: y mandatory; */
}




.scroll-container img {
	width: 100%;
}


/* .scroll-container::-webkit-scrollbar {
	width: 5px;

} */


.button-container {
	position: absolute;
	top: 70%;
	left: 45%;
	transform: translate(-50%, -50%);

}

.btn-t {
	width: 20%;

}

@media only screen and (max-width: 768px) {
 .home-h1 {
 	font-size: 45px;
 }

 .home-text,
 .home-text2 {
 	padding: 1rem;
 	font-size: 24px;
 }
}



@media screen and (min-width: 600px) and (max-width: 767px) {
	.scroll-container {
		height: 210px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.scroll-container {
		height: 310px;
	}
}

@media screen and (min-width: 992px) {
	.scroll-container {
		height: 500px;
	}


}

.div-13 {
	display: flex;
	justify-content: center;
}