/* Your imports and font imports go here */




.test-img {
		width: 100%;
		max-width: 100%;
		height: auto;
}
.home-header {
	margin-top: 8rem;
	border-bottom: 1px solid black;
	text-align: center;
}

.home-h1 {
	font-family: 'Inter', sans-serif;
	font-size: 80px;
}

.home-span {
	font-style: italic;
	font-family: 'IM Fell Double Pica', serif;
	font-size: 90px;
}

.home-span2 {
	font-family: 'Playfair Display', serif;
}

.home-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	border-right: 1px solid black;
}

.home-text {
	padding: 2rem;
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	color: #333;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.home-marq {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1rem;
}

/* .pic-gallery {
	margin: 5rem;
	padding: 2rem;
	display: flex;
	justify-content: center;

} */

.home-section2 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.home-text2 {
	padding: 2rem;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	color: #333;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
@media only screen and (max-width: 768px) {
	.home-h1 {
		font-size: 45px;
	}

	.home-text {
		padding: 1rem;
		font-size: 24px;
	}

	.home-text2 {
		padding: 1rem;
		font-size: 24px;
	}
}
