.main-body {
	text-align: center;
	margin-top: 3rem;
}

.body-div{
	margin-top: 3rem;
}

.img1-body{
	margin-top: 7rem;
	height: 5%;
	width: 50%;
}


.img2-body {
	margin-top: 7rem;
	height: 30%;
	width: 20%;
}