.tree {
	margin-top: 2rem;
	height: 30%;
	width: 30%;
	margin-bottom: 3rem;
}

@media (min-width: 768px) {
	.homepage-lower-container {
		width: 50vw;
		border-right: 1px solid rgba(27, 44, 19, .6);
		padding: 20px;
		height: 6rem;

	}
}



.row {
	display: flex;
	margin-top: 9rem;
}

.column {
	flex: 50%;
}

.book {
	height: 100%;
	width: 100%;
	border-right: 1px solid rgba(27, 44, 19, .6);
}


.col1 {
	padding: 30px;
}

button {
	margin-top: 3rem;
	padding: 10px;
	padding-right: 2rem;
	padding-left: 2rem;
	background-color: #fdfbf4;
	border: 1px solid;

}

button:hover {
	background-color: black;
	color: #fdfbf4;
}
@media screen and (max-width: 768px) {
	.row {
		flex-direction: column;
	}

	.column {
		flex: 100%;
	}

	.col1 {
		padding: 20px;
	}

	.row2 {
		display: flex;
		flex-wrap: wrap;
	}

	.col2 {
		flex: 1;
		padding: 10px;
	}

	.co2 {
		order: 2;
	}

	.col2:first-child {
		order: 1;
	}
}

.grass {
	height: 10%;
	width: 100%;
}

.col2 {
	padding: 30px;
}

.center {
	height: 100%;
	width: 100%;
	margin-top: 0;
	border-left: 1px solid rgba(27, 44, 19, .6);
}
