.tree {
margin-top: 2rem;
height: 30%;
width: 30%;
margin-bottom: 3rem;

/* border-right: 1px solid rgba(27, 44, 19, .6); */
}

@media (min-width: 768px) {
	.homepage-lower-container {
		width: 50vw;
		border-right: 1px solid rgba(27, 44, 19, .6);
		padding: 20px;
		height: 6rem;
	
	}
}