.tree {
margin-top: 2rem;
height: 30%;
width: 30%;
margin-bottom: 3rem;

/* border-right: 1px solid rgba(27, 44, 19, .6); */
}

@media (min-width: 768px) {
	.homepage-lower-container {
		width: 50vw;
		border-right: 1px solid rgba(27, 44, 19, .6);
		padding: 20px;
		height: 6rem;
	
	}
}





.book {

	height: 100%;
	width: 100%;

	border-right: 1px solid rgba(27, 44, 19, .6); 


}



.row {
	display: flex;
}

.column {
	flex: 50%;
}

.col2 {
	padding: 30px;
}


@media screen and (max-width: 768px) {
	.row {
		flex-direction: column;
	}

	.column {
		flex: 100%;
	}

	.col2 {
		padding: 10px;
	}
}

.row2 {
	margin-top: 7rem;
}

.center {
height: 100%;
width: 100%;
border-left: 1px solid rgba(27, 44, 19, .6);
}

.grass {
	height: 10%;
	width: 100%;
}