
nav {
	display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
}


ul {
	list-style-type: none;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

ul li a {
	color: #000;
	margin: 1rem;
}

ul li a:hover {
	color: green;
}

ul li a.active {
	color:green;
}

.ip-div {
		/* padding: 15px 20px; */
			display: flex;
			justify-content: center;
			align-items: center;
}
.ip-logo {
	width: 10%;
}