footer {
	background-color: #AEB4A8;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newsletter {
	display: flex;
	flex-direction: column;
}

.newsletter input[type="email"] {
	padding: 5px;
	margin-bottom: 10px;
}

.newsletter button {
	padding: 8px 15px;
	background-color: gray;
	color: white;
	border: none;
	cursor: pointer;
}

.footer-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-links h5 {
	margin: 5px;
	font-size: 18px;
}
